:root {
    --background: black;
    --main: magenta;
    --accent: cyan;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
}

/* DEFAULT OVERRIDES */
input[type=button] {
    background-color: var(--background);
    border-style: solid;
    border-color: var(--main);
    color: var(--accent);
    font-weight: bolder;
    font-size: 30px;
}

input[type=button]:hover {
    border-color: var(--accent);
    color: var(--main);
}

input[type="button"]:active {
    transition: 0.01s;
    transform: scale(0.9);
}

/* MAIN CLASSES */
.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.frame {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(7,1fr);
    grid-template-areas: 
    "screen screen screen screen"
    "screen screen screen screen"
    "add substract multiply divide"
    "num7 num8 num9 clear"
    "num4 num5 num6 clear"
    "num1 num2 num3 operate"
    "remove num0 decimal operate";
    margin: 20px;
    padding: 20px;
    min-width: 500px;
    width: 500px;
    min-height: 500px;
    height: 500px;
    gap: 10px;
    border-style: solid;
    border-color: var(--main);
}

.screen {
    grid-area: screen;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: black;
    border-style: dotted;
    border-color: var(--accent);
    padding: 10px;
}

.display {
    background: -webkit-linear-gradient(left,var(--main),var(--accent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
    font-size: 50px;
    margin: 0;
    padding: 0;
}

.top {
    font-size: 30px;
}

.infoButton {
    margin-bottom: 20px;
}

.active {
    border-color: var(--accent) !important;
    color: var(--main) !important;
    transition: 0.01s;
    transform: scale(0.9);
}

/* MOBILE SUPPORT */

@media only screen and (max-width: 500px) {

    .main {
        padding: 5%;
        width: 90%;
        height: 90%;
    }

    .frame {
        min-width: 100%;
        min-height: 95%;
        width: 100%;
        height: 95%;
        margin:0;
        padding: 0;
        gap: 5px;
        border-style: none;
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .infoButton{
        min-height: 5%;
        min-width: 100%;
        height: 5%;
        width: 100%;
        margin-bottom: 0;
        font-size: 10px !important;
    }
  }